body{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: "arial";
    text-align: center;
    width: 100vw;
}

.container-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin:auto;
}




.corpo{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.corpo h1{
    width: 100vw;
}

.corpo img{
    overflow:.hidden;
    width: 20em;
    align-self: center;
}

.corpo p{
    width: 20em;
}

