/* Básico */

body{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: "arial";
    text-align: center;
    width: 100vw;
}


/* Container Principal */

.container-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin:auto;
}

.container-principal h1{
    
}

/* Corpo do index */

.corpo{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.corpo h2{
    width: 10%;
}

.corpo img{
    overflow:.hidden;
    width: 20em;
    align-self: center;
}

.corpo p{
    width: 2em;
}

